# Android / Gradle
*.iml
.gradle/
**/build/

# Android Studio
.idea/
.cxx/
.externalNativeBuild/
captures/

# Configuración local
local.properties

# Archivos de compilación
*.apk
*.ap_
*.aab

# Firmas / claves
*.jks
*.keystore
keystore.properties

# Archivos temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/